html {
  scroll-behavior: smooth;
}

.register-area {
  background-color: #0099ff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgb(223, 223, 223);
}

.icon-list {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.item i {
  color: #0099ff;
  transition: 0.3s;
}

.item i:hover {
  color: navy;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.item span {
  font-weight: bold;
  margin-top: 10px;
  font-size: large;
}

.form-border {
  border-radius: 5px;
  background: white;
  box-shadow: 2px -2px 6px #bebebe, -2px 2px 6px #ffffff;
}

#headerTitle {
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

/* Header title animation */
@-webkit-keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}
@-moz-keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: #4285f4;
  }
  100% {
    color: navy;
  }
}
@-ms-keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: #4285f4;
  }
  100% {
    color: navy;
  }
}
@-o-keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: #4285f4;
  }
  100% {
    color: navy;
  }
}
@keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: #4285f4;
  }
  100% {
    color: navy;
  }
}

/* shack animation */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.content {
  position: relative;
}

.wave-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: -1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wave-container {
    bottom: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wave-container {
    bottom: 30px;
  }
}
